<!doctype html>
<html lang="en">
    <body>
        <main>
            {{> hero}}
            {{> navbar}}
            {{> about}}
            {{> portfolio}}
            {{> news}}
            {{> contact}}
            {{> map}}
        </main>
    </body>
</html>
